/**
 * App type scale Styles
 */

.h1 {
  font-size: 1.25rem !important;
}

.h2 {
  font-size: 1.125rem !important;
  margin: 0 !important;
}

.h3 {
  font-size: 1rem !important;
}
.h4 {
  /*font-size: .937rem !important;*/
}
.h5 {
  font-size: .875rem !important;
}
.h6 {
  font-size: 0.75rem !important;
}

.h7 {
  font-size: 0.5rem !important;
}

.bold{
 font-weight: 900 !important;
}
.semi-bold {
  font-weight: 600 !important;
}

.regular {
  font-weight: 500 !important;
}
.normal{
  font-weight: normal !important;
}

.light {
  font-weight: 300 !important
}
